<h3 class="center-text">Players</h3>
<table>
  <tr>
    <td class="center-text"></td>
    <th width="60%" class="center-text">Name</th>
    <th class="center-text">Pts</th>
    <th class="center-text">Lvl</th>
    <th class="center-text">GP</th>
  </tr>
  <tr>
    <td class="center-text on-leave"><img src="vacation-icon.png"/></td>
    <td class="center-text on-leave">Boivin, W.</td>
    <td class="center-text on-leave">5</td>
    <td class="center-text on-leave">1</td>
    <td class="center-text on-leave">0</td>
  </tr>
  <tr>
    <td class="center-text"></td>
    <td class="center-text">Culpan, H.</td>
    <td class="center-text">13</td>
    <td class="center-text">1</td>
    <td class="center-text">0</td>
  </tr>
  <tr>
    <td class="center-text on-leave"><img src="vacation-icon.png"/></td>
    <td class="center-text on-leave">Duignan, C.</td>
    <td class="center-text on-leave">12</td>
    <td class="center-text on-leave">1</td>
    <td class="center-text on-leave">0</td>
  </tr>
  <tr>
    <td class="center-text on-leave"><img src="vacation-icon.png"/></td>
    <td class="center-text on-leave">Koehler, S.</td>
    <td class="center-text on-leave">15</td>
    <td class="center-text on-leave">1</td>
    <td class="center-text on-leave">0</td>
  </tr>
  <tr>
    <td class="center-text"><img src="chkmark.png"/></td>
    <td class="center-text">Mele, A.</td>
    <td class="center-text">9</td>
    <td class="center-text">1</td>
    <td class="center-text">0</td>
  </tr>
  <tr>
    <td class="center-text"></td>
    <td class="center-text">Thomason, M.</td>
    <td class="center-text">14</td>
    <td class="center-text">1</td>
    <td class="center-text">0</td>
  </tr>
  <tr>
    <td class="center-text"></td>
    <td class="center-text">Wiegand, P.</td>
    <td class="center-text">14</td>
    <td class="center-text">1</td>
    <td class="center-text">0</td>
  </tr>
</table>
