<h3 class="center-text">Players</h3>
<table>
  <tr>
    <th class="center-text">Turn</th>
    <th>Name</th>
    <th class="center-text">Pts</th>
  </tr>
  <tr>
    <td class="center-text"></td>
    <td>Boivin, W.</td>
    <td class="center-text">0</td>
  </tr>
  <tr>
    <td class="center-text"></td>
    <td>Culpan, H.</td>
    <td class="center-text">8</td>
  </tr>
  <tr>
    <td class="center-text"><img src="chkmark.png"/></td>
    <td>Duignan, C.</td>
    <td class="center-text">0</td>
  </tr>
  <tr>
    <td class="center-text"></td>
    <td>Koehler, S.</td>
    <td class="center-text">0</td>
  </tr>
  <tr>
    <td class="center-text"></td>
    <td>Mele, A.</td>
    <td class="center-text">0</td>
  </tr>
  <tr>
    <td class="center-text"></td>
    <td>Thomason, M.</td>
    <td class="center-text">0</td>
  </tr>
  <tr>
    <td class="center-text"></td>
    <td>Wiegand, P.</td>
    <td class="center-text">0</td>
  </tr>
</table>
