<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% include header.html %}

  <body>
    <div class="wrapper">
      <div id="leftcol">
        {% include players.html %}
      </div>

      <div id="middlecol">
      {%include content.html %}
      </div>

      {% if site.posts.size > 0 %}
      <div id="rightcol">
        <h3 class="spacing center-text">Blog</h3>

        <div class="blog-posts">
          {% for post in site.posts %}
            <div class="blog-post spacing">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <h6>{{ post.date | date: '%B %d, %Y' }}</h6>
              <p class="summary">{{ post.category }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <p>There are no posts available right. Come back soon!</p>
      {% endif %}
    </div>
  </body>

  {% include footer.html %}
</html>
